/Virtion.Depends/packages/
/Virtion.Depends/Virtion.Depends/obj/
/Virtion.Depends/Virtion.Depends/bin/
*.suo
/Virtion.Depends/Virtion.Depends.v12.suo
/Virtion.Depends/*.sdf
Virtion.Depends/Virtion.Depends.v12.suo
